/**
* Ce fichier fait partie du projet piikante.
*
* contient les variables d environnement
*
* 
* @copyright 2022 Morgussian
*/

MONGODB_USER = "nom du user"

MONGODB_PASSWORD = "password"

MONGODB_CLUSTER_NAME = "cluster"

HASH_SALT_NUMBER = "nombre de salage"

TOKEN = "token"

